/* Stylesheet */


h1 {
	color: green;
}

.container_12 {
	background: #CCC;
}

.grid_9" {
	background-size: cover;
	margin: 10px 10px;
	padding: 20px 20px;
	
}

.grid_3 {
	text-align: center;
	padding: 50px, 0px;
}

.grid_4 {
	background: #6C9;
	margin: 35px;
	text-align: center;
}
.grid_6 {
	color: #0CF
}